/* CSS file for styling of overall webpage and landing section */

/* Color Palette
    Background: #FAFAF0

    Blue: #74B2D0
    Red: #F36870
    Yellow: #FFF593
*/

#websiteDisplay {
    font-family: 'Comfortaa', cursive !important;
    /* background-color: #FAFAF0 !important; */

    opacity: 0;
}

body {
    font-family: 'Comfortaa', cursive !important;
    background-color: #FAFAF0 !important;
}

#redBackground {
    background-color: #F36870;
    border-radius: 25px;
}

a:hover {
    color: #0a58ca !important;
}

.body nav, section, footer {
    z-index: 1;
}

/* Landing Section */
#homeImage {
    padding-top: 35px;
    height: 555px;;
    width: 410px;
    object-fit: contain;
}

.frontPageText {
    text-align: left;
}

@media (max-width: 991.98px) {
    #landingPage {
        margin-top: 6rem !important;
    }

    #homeImage {
        padding-top: 0px;
        height: 416px;
        width: 308px;
    }

    #frontPageTextContainer {
        padding-top: 1rem !important;
        padding-bottom: 3rem !important;
        padding-left: 2rem !important;
        padding-right: 1rem !important;

        margin-right: 0rem !important;
        margin-left: 1rem !important;
    }

    .frontPageText {
        margin-right: 0rem !important;
        margin-left: 0rem !important;

        padding-left: 1rem;
    }

    #h1TextFP, #h5TextFP {
        margin: 1rem !important;
    }
}

@media (max-width: 767px) {

    #homeImage {
        height: 395px;
        width: 293px;
    }

    #frontPageTextContainer {
        padding: 0rem !important;
        margin-right: 0rem !important;
    }

    .frontPageText {
        margin-right: 0rem !important;
        margin-left: 0rem !important;

        padding-left: 0rem;
    }
}

@media (max-width: 575px) {
    #homeImage {
        height: 317px;
        width: 234px;
    }

    #frontPageTextContainer {
        padding: 0rem !important;
        margin-right: 0rem !important;
    }

    .frontPageText {
        margin-right: 1rem !important;
        margin-left: 0rem !important;

        padding-left: 0rem;
    }
    
    #h1TextFP {
        font-size: 1.5em; /* h2 size */
    }

    #h5TextFP {
        font-size: 0.67em; /* h6 size */
    }
}

@media (max-width: 529px) {
    #homeImage {
        padding-left: 1rem;
        height: 277.5px;
        width: 205px;
    }
    
    #frontPageTextContainer {
        padding: 0rem !important;
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }

    #h1TextFP, #h5TextFP {
        margin-left: 1rem !important;
    }
}

@media (max-width: 401px) {
    #homeImage {
        padding-left: 1rem;
        height: 222px;
        width: 164px;
    }

    #h1TextFP, #h5TextFP {
        padding-right: 1rem !important;
    }

    #h1TextFP {
        font-size: 1.17em; /* h3 size */
    }

    #h5TextFP {
        font-size: 0.60em; /* h6.5 size kinda (theoretically) */
    }
}

/* SAFARI ONLY CSS */

@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
        /* Safari-only CSS rules here */
        @media (max-width: 401px) {
            #frontPageTextContainer {
                padding-right: 2rem !important;
            }
        }
    }
  }
