/* CSS styling for loading screen */

#loadingScreenDisplay{
    background-color: #FAFAF0;
    position: fixed;
    height: 100%;
    width: 100%;
}

.progress{
    background-color: transparent !important;
    height: 25px !important;
    width: 175px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}

.progColor{
    background:linear-gradient(#F36870 0 0) 0/0% no-repeat #74B2D0;
    animation: progres 2s 1; 

    width: 175px;
    height: 25px;
    border-radius: 20px; 
}

@keyframes progres{
    100% {background-size: 100%}
}