/* Header styling */
header{
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
    line-height: 500%;

    background-color: #F2F3F4;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 50px;     /* adjust spacing between the text */
    position: relative;
}   

/* Edits nav bar text */
.navbar ul li a {
    text-decoration: none;

    color: lightblue;
    font-size: 150%;
    text-transform: uppercase;
}

.logo{
    width: 60px;
    height: auto;
    padding: 14px;
    cursor: pointer;
}

#me {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-left: 0;
    margin-right: 0;
}

/* Body Styling */
body {
    background-color: ivory;
    color: black;
    margin: 0 0 0 0;

}

.about {
    margin-left: 5px;
}

#about_me_text {
}



