/* CSS file for styling of overall webpage and landing section */

:root {
    --bs-body-font-family: 'Comfortaa', cursive;
    --bs-body-bg: ivory;
}

#redBackground {
    background-color: #F36870;
    border-radius: 25px;
}

a:hover {
    color: #0a58ca !important;
}

.body nav, section, footer {
    z-index: 1;
}

/* Landing Section */
#homeImage {
    padding-top: 35px;
    height: 555px;;
    width: 410px;
    object-fit: contain;
}

.frontPageText {
    text-align: left;
}

@media (max-width: 991.98px) {
    #landingPage {
        margin-top: 6rem !important;
    }

    #homeImage {
        padding-top: 0px;
        height: 416px;
        width: 308px;
    }

    #frontPageTextContainer {
        padding-top: 1rem !important;
        padding-bottom: 3rem !important;
    }

    .frontPageText {
        margin-right: 0rem !important;
        margin-left: 0rem !important;

        padding-left: 1rem;
    }
}

@media (max-width: 767px) {

    #homeImage {
        height: 395px;
        width: 293px;
    }

    #frontPageTextContainer {
        padding: 0rem !important;
        margin-right: 0rem !important;
    }

    .frontPageText {
        margin-right: 0rem !important;
        margin-left: 0rem !important;

        padding-left: 0rem;
    }
}

@media (max-width: 575px) {
    #homeImage {
        height: 317px;
        width: 234px;
    }

    #frontPageTextContainer {
        padding: 0rem !important;
        margin-right: 0rem !important;
    }

    .frontPageText {
        margin-right: 1rem !important;
        margin-left: 0rem !important;

        padding-left: 0rem;
    }
    
    #h1TextFP {
        font-size: 1.5em; /* h2 size */
    }

    #h5TextFP {
        font-size: 0.67em; /* h6 size */
    }
}

@media (max-width: 529px) {
    #homeImage {
        padding-left: 1rem;
        height: 277.5px;
        width: 205px;
    }
}

@media (max-width: 401px) {
    #homeImage {
        padding-left: 1rem;
        height: 222px;
        width: 164px;
    }

    #h1TextFP {
        font-size: 1.17em; /* h3 size */
    }

    #h5TextFP {
        font-size: 0.60em; /* h6.5 size kinda (theoretically) */
    }
}
